@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Content -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 style="margin-top:50px;margin-bottom:50px;" class="display-4 font-italic">The Tab Organizer</h1>
                <p class="lead my-3">THAT'S YOURS PERSONAL TAB ORGANIZER</p>
                <p class="lead my-3">ENJOY</p>
            </div>
        </div>
    </div>
</section>


